.main {
  min-height: 0;

  @media (max-width: 48em) {
    padding: calc(var(--app-shell-header-offset, 0rem))
      calc(var(--app-shell-aside-offset, 0rem))
      calc(var(--app-shell-footer-offset, 0rem))
      /* biome-ignore lint/complexity/noImportantStyles: override mantine */
      calc(var(--app-shell-navbar-offset, 0rem)) !important;
  }

  &[data-with-slider="true"] {
    height: 100dvh;
  }
}

.aside {
  background-color: var(--mantine-color-gray-0);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
}
