.header {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  padding: 0 var(--mantine-spacing-xxs) var(--mantine-spacing-sm)
    var(--mantine-spacing-xxs);
}

@media (max-width: 48em) {
  .header {
    padding: 0 0 var(--mantine-spacing-sm) 0;
  }
}

.sectionTitle {
  margin: var(--mantine-spacing-sm) 0 var(--mantine-spacing-xs)
    var(--mantine-spacing-xxxs);
}

.mainLink {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1px;
  padding: var(--mantine-spacing-xxxs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  color: var(--mantine-color-gray-7);
  text-decoration: none;

  &:hover {
    background-color: var(--mantine-color-gray-2);
  }

  &[aria-current],
  &[aria-current]:hover {
    background-color: var(--mantine-color-gray-3);
  }
}

.mainLinkIcon {
  margin-right: var(--mantine-spacing-xxs);
}

.folderLink {
  position: relative;
}

.folderExpandIcon {
  position: absolute;
  left: -12px;
  top: 50%;
  margin-top: -6px;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }
}
