.navbar {
  background-color: var(--mantine-color-gray-0);
  /* biome-ignore lint/complexity/noImportantStyles: override mantine script */
  padding: 0 !important;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md)
    var(--mantine-spacing-sm) var(--mantine-spacing-md);
}

.libraryName {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-xxxs);
  border-radius: var(--mantine-radius-sm);

  @media (min-width: 48em) {
    &:hover {
      background-color: var(--mantine-color-gray-2);
    }
  }

  @media (max-width: 48em) {
    flex-grow: 1;
    justify-content: center;
  }
}

.scrollable {
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md);

  @media (max-width: 48em) {
    padding: 0 34px var(--mantine-spacing-md) 0;
  }
}

.sectionTitle {
  margin: var(--mantine-spacing-sm) 0 var(--mantine-spacing-xs)
    var(--mantine-spacing-xxxs);

  @media (max-width: 48em) {
    margin-top: var(--mantine-spacing-lg);
    margin-left: calc(34px + var(--mantine-spacing-sm));
  }
}

.mainLink {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1px;
  padding: var(--mantine-spacing-xxxs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  color: var(--mantine-color-gray-7);
  text-decoration: none;

  &:hover {
    background-color: var(--mantine-color-gray-2);
  }

  &[aria-current],
  &[aria-current]:hover {
    background-color: var(--mantine-color-gray-3);
  }

  @media (max-width: 48em) {
    margin-left: 34px;
    width: stretch;
    padding: var(--mantine-spacing-sm);
  }
}

.mainLinkIcon {
  margin-right: var(--mantine-spacing-xxs);
}

@media (min-width: 48em) {
  .folderLink {
    position: relative;
  }

  .folderExpandIcon {
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -6px;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 48em) {
  .folderLink {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;

    &[data-has-children] .mainLink {
      margin-left: 0;
    }
  }
}

.navbar [role="treeitem"] {
  /* biome-ignore lint/complexity/noImportantStyles: override mantine */
  -webkit-tap-highlight-color: transparent !important;
}
