.headerTitle {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  display: flex;
  gap: var(--mantine-spacing-xxs);

  a {
    color: var(--mantine-color-text);
    text-decoration: none;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.headerTrailing {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-sm);
}

.section {
  & + .section {
    margin-top: var(--mantine-spacing-lg);
  }
}

.sectionTitle {
  margin-bottom: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-gray-6);

  @media (max-width: 48em) {
    margin-top: var(--mantine-spacing-sm);
    margin-left: var(--mantine-spacing-sm);
    margin-right: var(--mantine-spacing-sm);
  }
}
