.navbar {
  background-color: var(--mantine-color-gray-0);
  /* biome-ignore lint/complexity/noImportantStyles: override mantine script */
  padding: 0 !important;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
}

.headerMain {
  @media (max-width: 48em) {
    flex-grow: 1;
    margin-right: 40px;
    display: flex;
    justify-content: center;
  }
}

.headerTrailing {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.scrollable {
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md) 0;

  @media (max-width: 48em) {
    padding-right: 34px;
  }
}

.sectionTitle {
  margin: var(--mantine-spacing-lg) 0 var(--mantine-spacing-xs)
    calc(var(--mantine-spacing-md) + var(--mantine-spacing-xxxs));

  @media (max-width: 48em) {
    margin-left: calc(34px + var(--mantine-spacing-sm));
  }
}

.mainLink {
  display: flex;
  align-items: center;
  width: stretch;
  min-width: 0;
  margin-left: var(--mantine-spacing-md);
  margin-bottom: 1px;
  padding: var(--mantine-spacing-xxxs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    background-color: var(--mantine-color-gray-2);
  }

  &[aria-current],
  &[aria-current]:hover {
    background-color: var(--mantine-color-gray-3);
  }

  @media (max-width: 48em) {
    margin-left: 34px;
    width: stretch;
    padding: var(--mantine-spacing-sm);
  }
}

.mainLinkIcon {
  flex-shrink: 0;
  margin-right: var(--mantine-spacing-xxs);
}

.mainLinkLabel {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mainLinkTrailing {
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: var(--mantine-spacing-xxs);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: var(--mantine-spacing-xxxs);
}

.folderLink {
  display: flex;
  align-items: center;
  min-width: 0;
  -webkit-tap-highlight-color: transparent;

  &[data-has-children] {
    @media (min-width: 48em) {
      margin-left: calc(var(--mantine-spacing-md) - 12px);
    }

    .mainLink {
      margin-left: 0;
    }
  }
}

@media (min-width: 48em) {
  .folderExpandIcon {
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }
}

.navbar [role="treeitem"] {
  /* biome-ignore lint/complexity/noImportantStyles: override mantine */
  -webkit-tap-highlight-color: transparent !important;
}

.settingsSection {
  margin-top: var(--mantine-spacing-lg);
}
