.mobileDropdown {
  right: 5px;
  /* biome-ignore lint/complexity/noImportantStyles: override */
  width: stretch !important;

  .input {
    /* biome-ignore lint/complexity/noImportantStyles: override */
    width: stretch !important;
  }
}
